<main>
  <div class="container">
  <div class="row">
    <h5>本当に退会しますか？</h5>

    退会すると、会員登録情報や、<br>
    これまでの購入履歴が閲覧できなくなります。<br>
    退会する場合は、「退会する」をクリックしてください。

    <%= link_to "退会しない", edit_public_customer_path, class:"btn btn-info btn-sm" %>
    <%= link_to "退化する",public_items ,class: "btn btn-danger", method: :delete %>
  </div>
  </div>
</main>